<div class="container" id="home-container">
	<div class="jumbotron text-center text-black">
	  <h1 class="display-4">NoteTaker</h1>
	  <p class="lead">Your note management system.</p>
	  <a class="btn btn-lg" href="#" role="button">Sign Up</a>
	</div>
</div>
